/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css");




/* Corpo */
body {
  min-height: 100vh;
  background-color: #4070f4;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Corpo */
body {
    color: #ededed;
}


/* --------------------Container Principal ----Editando-----------------------------*/
.wrapper {
  position: fixed;
  z-index:9999;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper h2{
  color: black; /* Altere a cor desejada aqui */
}

  

.data p {
  color: black; /* Altere a cor desejada aqui */
}

/* Exibição da Notificação */
.wrapper.show {
    position: absolute;
    right: 20px;

}
/* Cabeçalho da Notificação */
.wrapper header {
  
  display: flex;
  align-items: center;
  column-gap: 15px;
}


/* Cabeçalho--------------------------------Editando------------------------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo */
.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

/*animação da logo -----------------------*/

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 0.1s;
}







/* Barra de navegação */

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s:
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}


/*animação da barra de navegação-------------------------------------------------*/
.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 0.2s;
}


/* Configuração do texto do corpo */
.home {
    height: 100vh;
    background: url('IMG/fundo.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}
/*Texto-------------------------------------------------------------------*/


/* Configuração do texto do corpo */


.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

/*animação h1--------------------------------*/
.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

/*animação do texto h3--------------------------*/
.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.13s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

/*animação do texto p = texto do corpo --------------------------*/
.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.16s;
}


/* Botão ---------------------------------------------------------------------------------------*/
.home-content .btn-box {
    position: absolute;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

/*animação do texto btn-box --------------------------*/


.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.19s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #81b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/* Ícone de rede social */
.home-sci {
   margin-left: 80px;
   position: absolute;
   display: flex;
   bottom: 40px;
   width: 170px;
   justify-content: space-between;
   margin-bottom: 50px; /*margem a baixo*/
}
/*Animação dos botões de rede social--------------------------------*/

.home-sci::before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background: #081b29;
     animation: showRight 1s ease forwards;
     animation-delay: .2.5s;
     z-index: 2;
}
   
    
.home-sci a {
   position: absolite;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background: transparent;
   border: 2px solid #00abf0;
   border-radius: 50%;
   font-size: 20px;
   color:#00abf0;
   text-decoration: none;
   z-index:1;
   overflow: hidden;
   transition: .5s;
}

.home-sci a: hover  {
    color: #081b29;

}

 .home-sci a: :before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
     
 }





/*Classses -------*/




.About {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-size: 30px;
    color:#00abf0;
    text-decoration: none;
    z-index:1;
    overflow: hidden;
    transition: .1s;
    
}


.About::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.2s;
}



@media only screen and (min-width:550px) {
    #about {
        width: 80%
    }
}


/*devicon----------------------------*/



.user {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}


@media only screen and (min-width:550px) {
    .user {
        flex-wrap: nowrap;
        font-size: 20px
        
    }
}

.user-details {
    text-align: center;
    margin: 5px auto
    
}


.tech{
    color: white;
    margin-left: 50px;
    margin: 50px;
    
   
}

@font-face {
    font-family: devicon;
    src: url(../fonts/devicon.eot?-hdf3wh);
    src: url(../fonts/devicon.eot?#iefix-hdf3wh) format("embedded-opentype"), url(../fonts/devicon.woff?-hdf3wh) format("woff"), url(../fonts/devicon.ttf?-hdf3wh) format("truetype"), url(../fonts/devicon.svg?-hdf3wh#devicon) format("svg");
    font-weight: 800;
    font-style: normal;
   
}
[class*=" devicon-"],
[class^=devicon-] {
    font-family: devicon;
    speak: none;
    font-style: normal;
    font-weight: 500;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
    
}

.devicon-python-plain-wordmark:before {
    font-size: 100px;
    color: #00abf0;
    
}

.devicon-javascript-plain {
    font-size: 100px;
    color: #00abf0;
}

.devicon-html5-plain-wordmark{
    font-size: 100px;
    color: #00abf0;

}

.devicon-lua-plain-wordmark{
    font-size: 100px;
    color: #00abf0;
    
   

}

.devicon-github-original{
    font-size: 100px;
    color: #00abf0;

}

.devicon-vscode-plain-wordmark{
    font-size: 100px;
    color: #00abf0;
}


/* Imagem de fundo com hover */


/* Animações */
@keyframes showRight {
    to {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}



/*projetos----------------*/


.projects {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-size: 30px;
    color:#00abf0;
    text-decoration: none;
    z-index:1;
    overflow: hidden;
    transition: .1s;
    



}

.projects::before {
    content: '';
    position: absolute;
    top: 30%;
    right: 0;
    width: 50%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.2s;
   

}


.txt-project {
    

    position: absolute;
    display: flex;
    top: 0;
    left: 0; /* Isso vai alinhar o texto no centro horizontalmente */
    width: 100%; /* Faz o texto ocupar toda a largura disponível */
    text-align: center; /* Centraliza o texto horizontalmente */
    font-size: 20px;
    color: white;
}

.txt-project h1 {
  position: absolute;
  top: 0;
  left:0;
  margin-bottom: 50px;
  text-align: center; /* Centraliza o texto horizontalmente */
  vertical-align: middle; /* Centraliza o texto verticalmente */
  color: white; /* Define a cor do texto como branca */

}

.images-right {
    color: white;
    display: flex; /* Usar display flex para posicionar os elementos lado a lado */
    align-items: center; /* Alinhar verticalmente ao centro */
 
    margin-left: 10%;
    
}

.images-right img {
    max-width: 80%; /* Definir a largura máxima da imagem */
    height: auto; /* Manter a proporção original da imagem */
    margin-right: 20px; /* Adicionar margem à direita da imagem para separar do texto */
    margin-left: 0%;
}

.images-right p {
    
    text-align: left; /* Alinhar o texto à esquerda */
    margin-bottom: 50px; /*margem a baixo*/
}




/*Botão do projeto---------*/


.btn-boxprj a{
position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 100%;
    background: black;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-boxprj a:hover {
    color: #00abf0;
}
.btn-boxprj a {
    display: flex;
    justify-content:center;
    width: 345px;
    height: 50px;

}



.btn-boxprj a:hover::before {
    width: 100%;
}
