/* Google Fonts - Poppins */


/* Reset de estilos e configuração de fonte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Corpo */
body {
  min-height: 100vh;
  background-color: #4070f4;
}

/* Container Principal */
.wrapper {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Exibição da Notificação */
.wrapper.show {
  right: 20px;
}

/* Cabeçalho da Notificação */
.wrapper header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

/* Ícone do Cabeçalho */
header i {
  color: #4070f4;
  font-size: 32px;
}

/* Título do Cabeçalho */
header h2 {
  color: #4070f4;
  font-weight: 500;
}

/* Bloco de Dados */
.wrapper .data {
  margin-top: 16px;
}

/* Texto nos Dados */
.wrapper .data p {
  color: #333;
  font-size: 16px;
}

/* Link nos Dados */
.data p a {
  color: #4070f4;
  text-decoration: none;
}

/* Efeito de Hover no Link */
.data p a:hover {
  text-decoration: underline;
}

/* Bloco de Botões */
.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilo dos Botões */
.buttons .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #4070f4;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}

/* Efeito de Hover no Botão de Aceitar */
.buttons #acceptBtn:hover {
  background-color: #034bf1;
}

/* Estilo do Botão de Rejeitar */
#declineBtn {
  border: 2px solid #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* Efeito de Hover no Botão de Rejeitar */
#declineBtn:hover {
  background-color: #4070f4;
  color: #fff;
}

/* Animações */
@keyframes showRight {
  to {
    width: 0;
  }
}
